/* thanks */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin: 0;
    background: #F6F2E9;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container{
    width: 100%;
    max-width: 1500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: fadeIn 1.2s;

}

/* ข้อความด้านบน */

.quotethanks1{
    font-family:'Playpen Sans Thai',cursive;
    margin-bottom: 40px;
    max-width: 300px;
    
}

.quotethanks1 h1{
    color:#333;
    font-size:30px;
    line-height: 2;
    font-weight: 700;
    
}

/* ข้อความหลัก */

.quotethanks2{
    font-family:'Playpen Sans Thai',cursive;
    margin-bottom: 70px;
}

.quotethanks2 h2{
    color:#333;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

.logo{

    margin-top:30px;

    font-family:'Playpen Sans Thai',cursive;

    font-size:15px;

    letter-spacing:4px;

    color:#000;

}

.end-btn{

    margin-top: 20px;

    width:150px;

    height:70px;

    border:none;

    border-radius:50px;

    background:#111;

    color:white;

    font-family:'Playpen Sans Thai',cursive;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.end-btn:hover{

    transform:translateY(-5px);

    background:#333;

}

.end-btn:active{

    transform:scale(.95);

}

@keyframes fadeIn{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}