/*
/* homescreen 
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#F6F2E9;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

    overflow:hidden;

}

.container{

    width:100%;
    max-width:700px;

    text-align:center;

    padding:20px;

    animation:fadeIn 1.2s;

}

.quote{

    font-family: "Playpen Sans Thai", cursive;

    color:#333;

    line-height:1;

    margin-bottom:120px;

}

.quote h1{

    font-family: "Playpen Sans Thai", cursive;
    
    font-size:41px;
    font-weight:700;
    color:#333;
    margin-bottom:25px;
}

.quote h2{

    font-family:'Playpen Sans Thai',cursive;

    font-size:42px;
    color:#333;
    font-weight:700;

}

.logoHS{

    margin-top:30px;

    font-family:'Playpen Sans Thai',cursive;

    font-size:20px;

    letter-spacing:4px;

    color:#333;

}

.start-btn{

    width:170px;

    height:70px;

    border:none;

    border-radius:50px;

    background:#111;

    color:white;

    font-family:'Playpen Sans Thai',cursive;

    font-size:34px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.start-btn:hover{

    transform:translateY(-5px);

    background:#333;

}

.start-btn:active{

    transform:scale(.95);

}

@keyframes fadeIn{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}
*/

/* homescreen */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#F6F2E9;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

    overflow:hidden;

}

.container{

    width:100%;
    max-width:770px;

    text-align:center;

    padding:20px;

    animation:fadeIn 1.2s;

}

.quote{

    font-family: "Playpen Sans Thai", cursive;

    color:#333;

    line-height:1;

    margin-bottom:120px;

}

.quote h1{

    font-family: "Playpen Sans Thai", cursive;
    
    font-size:25px;
    font-weight:700;
    color:#333;
    margin-bottom:25px;
}

.quote h2{

    font-family:'Playpen Sans Thai',cursive;

    font-size:20px;
    color:#333;
    font-weight:700;

}

.logoHS{

    margin-top:25px;

    font-family:'Playpen Sans Thai',cursive;

    font-size:15px;

    letter-spacing:4px;

    color:#333;

}

.start-btn{

    width:100px;

    height:60px;

    border:none;

    border-radius:50px;

    background:#111;

    color:white;

    font-family:'Playpen Sans Thai',cursive;

    font-size:20px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.start-btn:hover{

    transform:translateY(-5px);

    background:#333;

}

.start-btn:active{

    transform:scale(.95);

}

@keyframes fadeIn{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}