/* input name */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Prompt,sans-serif;
}

body{
    margin:0;
    background:#d6ebf9;
    display:flex;
    justify-content:center;
    align-items:center;;
    min-height:100dvh;
}

.card4{
    width:75%;
    max-width:450px;

    background:#ffeec9;
    border-radius:40px;

    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.15);

    /* เพิ่มความสูงให้เท่ากัน */
    min-height:400px;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.logo4{
    font-family:Prompt,sans-serif;
    font-size:45px;
    margin-top:30px;
}

h1{
    font-family:Prompt,sans-serif;
    color:#513229;
    font-size:25px;
    margin:10px 0;

}

.subtitle4{
    font-family:Prompt,sans-serif;
    color:#513229;
    line-height:1.6;
    margin-bottom:35px;
    margin-top:5px;
    font-size:14px;

}

.input-box{

    margin-bottom:-2px;

}

.input-box input{

    width:70%;
    height:45px;

    border:none;
    border-radius:20px;

    background:#ffffff;

    padding:0 20px;

    font-size:14px;

    outline:none;

    transition:.3s;
    margin-top: auto;
    box-shadow:0 5px 15px rgba(0,0,0,.05);

}

.input-box input:focus{

    background:white;
    border:2px solid #513229;

}

.button4{
    width:35%;
    height:45px;
    border:none;
    border-radius:40px;
    padding:15px;
    background:#513229;
    color:white;

    font-family:Prompt,sans-serif;
    font-size:15px;
    font-weight:bold;

    cursor:pointer;
    transition:.3s;

    display:block;
    margin: 15px auto; /* ทำให้อยู่ตรงกลาง */

}

.button4:hover{

    background:#271713;

}

.note{
    font-family:Prompt,sans-serif;
    margin-bottom:15px;
    margin-top:5px;
    color:#7e5246;
    font-size:14px;

}