/* select */
*{
    box-sizing:border-box;
    font-family:Prompt,sans-serif;
}


body{
    
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#d6ebf9;

}


.box{
    
    width:75%;
    max-width:450px;
    min-height:400px;
    background:#ffeec9;
    padding:20px;
    border-radius:40px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

h3{

    font-size:25px;
    color:#513229;
    margin-bottom:10px;
}

.description{
    font-size:14px;
    color:#513229;
    margin-bottom:30px;
}

.button5{
    font-weight:500;
    display: block;
    width:80%;
    padding:10px;
    margin:8px auto;
    border:none;
    border-radius:40px;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
    gap: 0px;
    display:flex;
    justify-content:center; /* กึ่งกลางแนวนอน */
    align-items:center;     /* กึ่งกลางแนวตั้ง */
}

.button5:hover{

    transform:scale(1.03);

}

.love{background:#d6bb9b;color:white;}
.study{background:#aa846c;color:white;}
.family{background:#936345;color:white;}
.friend{background:#5b3113;color:white;}
.other{background:rgb(54, 33, 27);color:white;}

.love:hover{
    background:#cba3a3;
}

.study:hover{
    background:#7b9cbc;
}

.family:hover{
    background:#87ad75;
}

.friend:hover{
    background:#dac679;
}

.other:hover{
    background:#000000;
}